.slick-prev{
    left:10%;
    z-index:100;
}
.slick-next {
    right:10%;
}

.slick-next,.slick-prev {
    width:2.5rem;
    height: 2.5rem;

}

.slick-next:before,.slick-prev:before{
    font-size:2.5rem;
    color:rgb(201, 103, 36);
}

.slider-image {
    margin:10px;
}

@media (min-width:641px){
    .slider-image img {
    cursor:pointer;
    }
}
